* {
  --background: #282828;
  --foreground: #F0F0F0;
  --invisibles: #3C3C3C;
  --lineHighlight: #3C3C3C75;
  --selection: #646464;
  --selectionHighlight: #64646450;
  --comment: #787878;
  --string: #E6DB74;
}